{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="create_title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="create_desc" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="create_initial_bid" placeholder="Price">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="img_url" placeholder="Image URL (optional)">
        </div>
        <input required placeholder="Category" type="text" name="category"/>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <a href="{% url 'index' %}">View Listings</a>


{% endblock %}